_ide_helper.php
app/config/testing/cache.php
app/config/testing/database.php
app/config/testing/mail.php
app/config/testing/session.php
app/config/app.php
app/config/database.php
app/config/mail.php
vendor
clover.xml
firefly.sublime-project
firefly.sublime-workspace
