@import url(http://fonts.googleapis.com/css?family=Inconsolata);

.load-error {
    background: url("../i/error.png") center center no-repeat;
    min-height: 30px;
}

.money {
    font-family: 'Inconsolata', monospace, sans-serif;

}

.help-popover {
    cursor: help;
}

.animHeader {
    -webkit-animation-duration: 6s;
    -webkit-animation-delay: 1s;
}

.piggybankFill {
    background: deeppink;
    position: relative;
}

.gauge table {margin:0 auto !important;}

.piggybankEmpty {
    background: #eee;
    position: absolute;
    z-index: 5;
    left: 0px;
    top: 0px;
}

.piggyBank {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10
}

.twitter-typeahead {width:100%;}

.twitter-typeahead .tt-hint
{
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius:4px;

}

.twitter-typeahead .hint-small
{
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    line-height: 1.5;
}

.twitter-typeahead .hint-large
{
    height: 45px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    line-height: 1.33;
}

#sortable h4 {cursor:move;}