@import url(http://fonts.googleapis.com/css?family=Inconsolata);

.load-error {
    background: url("/img/error.png") center center no-repeat;
    min-height: 30px;
}

.money {
    font-family: 'Inconsolata', monospace, sans-serif;

}
.help-popover {cursor:help;}

.animHeader {
    -webkit-animation-duration: 6s;
    -webkit-animation-delay: 1s;
}