@import url(http://fonts.googleapis.com/css?family=Inconsolata);

.load-error {
    background: url("/img/error.png") center center no-repeat;
    min-height: 30px;
}

.money {
    font-family: 'Inconsolata', monospace, sans-serif;

}

.help-popover {
    cursor: help;
}

.animHeader {
    -webkit-animation-duration: 6s;
    -webkit-animation-delay: 1s;
}

.piggybankFill {
    background: deeppink;
    position: relative;
}

.gauge table {margin:0 auto !important;}

.piggybankEmpty {
    background: #eee;
    position: absolute;
    z-index: 5;
    left: 0px;
    top: 0px;
}

.piggyBank {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10
}

